/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar

#PHPStorm folder
/.idea

#backup files from unix editors
*~

#merge files
*.orig

#.htaccess folder
/web/.htaccess

#Ignoring app_dev.php
/web/app_dev.php
/web/static/css/
/web/static/js/

#Ignoring .vagrant folder
/.vagrant
