{% extends "::base.html.twig" %}

{% block body %}
    <div class="container impressum">
        <div class="col-md-6">
            <h2>Legal information</h2>
            <br/>
            <ul>
                <li>
                    <span class="dlabel">Name:</span>
                    Null Development j.d.o.o.
                </li>
                <li>
                    <span class="dlabel">Address:</span>
                    Božidara Magovca 111
                </li>
                <li>
                    <span class="dlabel">&nbsp;</span>
                    10000 Zagreb
                </li>
                <li>
                    <span class="dlabel">&nbsp;</span>
                    Croatia
                </li>
                <li>
                    <span class="dlabel">&nbsp;</span>
                    &nbsp;
                </li>
                <li>
                    <span class="dlabel">VAT ID:</span>
                    HR41246805007
                </li>
                <li>
                    <span class="dlabel">&nbsp;</span>
                    &nbsp;
                </li>
                <li>
                    <span class="dlabel">Company #:</span>
                    080908448
                </li>
                <li>
                    <span class="dlabel">&nbsp;</span>
                    &nbsp;
                </li>
                <li>
                    <span class="dlabel">IBAN:</span>
                    HR7324020061100697096
                </li>
            </ul>
        </div>
        <div class="col-md-6 ">
            <h2>Pravni podaci</h2>
            <br/>
            <ul>
                <li>
                    <span class="dlabel">Naziv:</span>
                    Null Development j.d.o.o. za usluge
                </li>
                <li>
                    <span class="dlabel">Adresa:</span>
                    Božidara Magovca 111
                </li>
                <li>
                    <span class="dlabel">&nbsp;</span>
                    10000 Zagreb
                </li>
                <li>
                    <span class="dlabel">&nbsp;</span>
                    Hrvatska
                </li>
                <li>
                    <span class="dlabel">&nbsp;</span>
                    &nbsp;
                </li>
                <li>
                    <span class="dlabel">OIB:</span>
                    41246805007
                </li>
                <li>
                    <span class="dlabel">&nbsp;</span>
                    &nbsp;
                </li>
                <li>
                    <span class="dlabel">MBS:</span>
                    080908448
                </li>
                <li>
                    <span class="dlabel">&nbsp;</span>
                    &nbsp;
                </li>
                <li>
                    <span class="dlabel">IBAN:</span>
                    HR7324020061100697096
                </li>
                <li>
                    <span class="dlabel">&nbsp;</span>
                    &nbsp;
                </li>
                <li>
                    Društvo je registrirano pri Trgovačkom sudu u Zagrebu.
                </li>
                <li>
                    <span class="dlabel">&nbsp;</span>
                    &nbsp;
                </li>
                <li>
                    <span class="dlabel">Broj računa:</span>
                    HR7324020061100697096 , Erste banke Rijeka
                </li>
                <li>
                    <span class="dlabel">Temeljni kapital:</span>
                    10 kn uplaćen u cijelosti.
                </li>
                <li>
                    <span class="dlabel">Član društva:</span>
                    Miro Svrtan
                </li>
            </ul>

        </div>

    </div>

    <style>
        ul {
            list-style-type: none;
            padding-left: 0px;
        }

        ul li span {
            float: left;
            width: 95px;
            font-weight: bold;
        }

    </style>

{% endblock %}
