{% extends "::base.html.twig" %}

{% block body %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>&gt; /dev/null</h1>

            <p>Very soon.</p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Work</h2>

                <p> Web apps, built in PHP, preferably using Symfony2. </p>
            </div>
            <div class="col-md-4">
                <h2>Company</h2>

                <p> A one man band, based in Zagreb, Croatia.</p>
            </div>
            <div class="col-md-4">
                <h2>Community</h2>

                <p>Supporting local <a href="http://zgphp.org" target="_blank">PHP</a> &
                    <a href="http://webcampzg.org" target="_blank">Web Development</a> communities.</p>
            </div>
        </div>


    </div>

{% endblock %}
